<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random recipe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    html{
        font-family: 'Source Sans Pro', sans-serif;
        background-color: lightgrey;
    }
</style>
<body>
    <h1><%=dataFromSpoonacular.title %></h1>
    <h3>Main ingredients:</h3>
    <ul>
        <% for(let i = 0; i < dataFromSpoonacular.ingredients.length; i ++) { %>
            <li><%= dataFromSpoonacular.ingredients[i].name %>, <%= dataFromSpoonacular.ingredients[i].measures.metric.amount %> 
                <%= dataFromSpoonacular.ingredients[i].measures.metric.unitShort %> </li>
        <% } %>
    </ul>

    <h3>Summary:</h3>
    <div><%- dataFromSpoonacular.summary %></div>
    <h3>Instructions:</h3>
    <div><%-dataFromSpoonacular.instructions %></div><br>

    <div>
        <img src="<%=dataFromSpoonacular.imageUrl %>" alt="">
    </div>

</body>
</html>